body{

}
a{
    text-decoration: none;
    color: purple;
}
.container{
    background-color: rgb(240, 240, 240);
  
}
.container1{
   width: 1280px;  
   margin: 0 auto;
   padding-bottom: 100px;
  
}
.container-head{
    display: flex;
   justify-content: space-between;

}
.container-head h3{
    color: rgb(20, 20, 78);
}
.container-head a{
   
    margin: auto 0;
   
}
.container-body{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.mrg{
    margin-left: 25px;
}
 a:hover{
color: blueviolet;
}
.container-body-first-img img{
    border-radius: 5px;
    width: 300px;
    height: 180px;

}
.container-body-first-img:hover{
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-body1{
    display: flex;
     justify-content: space-between; 
    margin-top: 40px;
}